header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
#api_status {
    /* text-align: right; */
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%); /* to make vertically centers the circle inside the parent container.*/
}
#api_status.available {
/* .available { */
    Background-color: #ff545f;
}

header {
    position: relative; /* Allow absolute positioning inside the header */
}
